<%- include('./layouts/header') %>

<h1 class="title">Full Stack Nodejs Application</h1>
<div class="tutorial-info">
    <ol class="tutorial-info">
        <p>The following technologies have been used</p>
        <li><b>Express Js</b></li>
        <li><b>EJS</b>templating engine</li>
        <li><b>Passport Js</b>local authentification(email,password)</li>
        <li><b>Mongoose</b>(ORM for Mongodb)</li>
        <li>How to use <b>express sessions</b></li>
        <li>Using sessions to <b>persist login</b> after server  reboot(using mongo store)</li>
        <li><b>Redirect</b>to same page after login</li>
        <li><b>Validating</b>user iput server</li>
        <li><b>Flash messages</b></li>
        <li>Handling <b>HTTP error</b>(ex: 404, etc)</li>

    </ol>
</div>

<%- include('./layouts/footer') %> 